.advantages {

    .advantages__title {
        position: relative;

        @container (inline-size >= 20rem) {
            display: block;
        }

        @container (inline-size >= 62.75rem) {
            display: inline-block;
        }

        @container (inline-size >= 120rem) {
            display: inline-block;
        }

        &::after {
            display: inline-block;
            content: '';
            inline-size: 2.75rem;
            block-size: 2.75rem;
            background-image: image-set(
                "../../images/assets/advantages/bg-advantages-star1x.png" 1x,
                "../../images/assets/advantages/bg-advantages-star2x.png" 2x
            );
            background-size: contain;
            position: absolute;
            inset-block-start: 0;
            inset-inline-end: 0;

            @container (inline-size >= 20rem) {
                transform: translate(1.8rem, -1.5rem);
            }

            @container (inline-size >= 62.75rem) {
                transform: translate(3.5rem, -0.45rem);
            }

            @container (inline-size >= 120rem) {
                transform: translate(3.5rem, -0.45rem);
            }
        }
    }

    .advantages__text {
        line-height: 1.3;
        max-inline-size: 29.125rem;
        background-color: hsl(from var(--white-smoke-color) h s l / 0.6);
        box-shadow: 1.625rem 1.625rem 1.625rem hsl(from var(--white-smoke-color) h s l / 0.6);
        box-decoration-break: clone;
        border-radius: 1.875rem;
    }

    .advantages__card {
        min-block-size: 21.81rem;
        background-position: right bottom;
        background-repeat: no-repeat;

        @container (inline-size >= 20rem) {
            background-size: 32cqw;
        }

        @container (inline-size >= 62.75rem) {
            background-size: 18.96cqw;
        }

        @container (inline-size >= 120rem) {
            background-size: 22.75rem;
        }


        &.advantages__card--price {
            background-image: image-set(
                "../../images/assets/advantages/bg-advantages-tel1x.png" 1x,
                "../../images/assets/advantages/bg-advantages-tel2x.png" 2x
            );
        }

        &.advantages__card--quality {
            background-image: image-set(
                "../../images/assets/advantages/bg-advantages-man1x.png" 1x,
                "../../images/assets/advantages/bg-advantages-man2x.png" 2x
            );
        }

        &.advantages__card--volume {
            background-image: image-set(
                "../../images/assets/advantages/bg-advantages-bonus1x.png" 1x,
                "../../images/assets/advantages/bg-advantages-bonus2x.png" 2x
            );
        }

        &.advantages__card--technologies {
            background-image: image-set(
                "../../images/assets/advantages/bg-advantages-notebook1x.png" 1x,
                "../../images/assets/advantages/bg-advantages-notebook2x.png" 2x
            );
        }
    }
}