.burger-menu {

    @container (inline-size >= 20rem) {
        display: flex;
        position: absolute;

        @container (inline-size >= 20rem) {
            inset-inline-end: var(--offset-section-x-max1004);
        }

        @container (inline-size >= 62.75rem) {
            inset-inline-end: var(--offset-section-x-max1920);
        }

        inset-block-start: 50%;
        transform: translateY(-50%);
        border-radius: 0.25rem;
        z-index: 1;

    }

    @container (inline-size >= 62.75rem) {
        display: none;
    }
}