.intro {
    position: relative;

    @container (inline-size >= 20rem) {
        padding-inline: var(--offset-section-x-max1004);
        padding-block: var(--offset-section-y-max1004);
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @container (inline-size >= 62.75rem) {
        padding-inline: var(--offset-section-x-max1920);
        padding-block: var(--offset-section-y-max1004);
        align-items: start;
    }

    @container (inline-size >= 92rem) {
        padding-block: 0;
        display: block;
        background-position: right 0 top 4rem;
        background-image: image-set(
            "../../images/assets/bg-intro-small-new1x.png" 1x,
            "../../images/assets/bg-intro-big-new2x.png" 2x
        );
        background-repeat: no-repeat;
        min-block-size: 40rem;
    }

    @container (inline-size > 112rem) {
        background-position: right 8rem top 3.75rem;
        background-image: image-set(
            "../../images/assets/bg-intro1x-new.png" 1x,
            "../../images/assets/bg-intro2x-new.png" 2x
        );
        background-repeat: no-repeat;
    }


    .intro__container {
        max-inline-size: 46rem;

        @container (inline-size >= 20rem) {
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;
            padding-block-start: 0;
        }

        @container (inline-size >= 62.75rem) {
            padding-block-start: 0;
            align-items: start;
        }

        @container (inline-size >= 92rem) {
            padding-block-start: 6rem;
            align-items: start;
        }
    }

    .intro__title {
        margin-block-end: 2.875rem;

        @container (inline-size >= 20rem) {
            text-align: center;
        }

        @container (inline-size >= 92rem) {
            text-align: start;
        }
    }

    .intro__title-sel {

        @container (inline-size >= 20rem) {
            &.intro__title-sel--small-viewport {
                display: block;
            }

            &.intro__title-sel--big-viewport {
                display: none;
            }
        }

        @container (inline-size >= 62.75rem) {
            &.intro__title-sel--small-viewport {
                display: none;
            }

            &.intro__title-sel--big-viewport {
                display: block;
            }
        }
    }

    .intro__text {
        font-size: 2rem;
        line-height: 1.3;
        color: var(--thunder-color);
        position: relative;
        margin-block: 0;

        @container (inline-size >= 20rem) {
            padding-block-start: 5rem;
            margin-block-end: 2.875rem;
            text-align: center;
        }

        @container (inline-size >= 48rem) {
            padding-block-start: 0;
            max-inline-size: 32.2rem;
            padding-inline-end: 1.875rem;
            margin-block-end: 2.875rem;
        }

        &::after {
            content: '';
            background-image: url(../../images/icons/money-smile_icon.svg);
            inline-size: 4.5rem;
            block-size: 4.5rem;
            position: absolute;
            
            @container (inline-size >= 20rem) {
                inset-block-start: 0;
                inset-inline-start: 50%;
                transform: translateX(-50%);
            }

            @container (inline-size >= 48rem) {
                inset-block-start: 50%;
                inset-inline-end: 0;
                inset-inline-start: 100%;
                transform: translateY(-50%);
            }
        }
    }
}