@import url("logo.css");
@import url("link.css");
@import url("nav.css");
@import url("burger-menu.css");
@import url("social-contacts.css");
@import url("button.css");
@import url('nav-footer.css');
@import url('intro.css');
@import url('title-default.css');
@import url('section.css');
@import url('cards.css');
@import url('advantages.css');
@import url('price-technologies.css');
@import url('gradient-text.css');
@import url('tabs-link.css');