/*** INTER ***/

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;

  src: local("Inter"),
       url("../../fonts/inter/Inter-VariableFont_opsz,wght.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-optical-sizing: auto;
  font-style: italic;
  font-display: swap;

  src: local("Inter"),
       url("../../fonts/inter/Inter-Italic-VariableFont_opsz,wght.woff2") format("woff2");
}

/*** MONTSERRAT ***/

@font-face {
  font-family: "Montserrat";
  font-weight: 100 900;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;

  src: local("Montserrat"),
       url("../../fonts/montserrat/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 100 900;
  font-optical-sizing: auto;
  font-style: italic;
  font-display: swap;

  src: local("Montserrat"),
       url("../../fonts/montserrat/Montserrat-Italic-VariableFont_wght.woff2") format("woff2");
}