.main {

    .main__container {

        &.main__container--grey-bg {
            background-color: var(--white-smoke-color);
        }

    }

    .main__content {
        max-inline-size: var(--max-width-container);
        margin-inline: auto;
    }

    @container (inline-size >= 20rem) {
        padding-block-end: var(--offset-section-y-max1004);
    }

    @container (inline-size >= 62.75rem) {
        padding-block-end: var(--offset-section-y-max1920);
    }

    @container (inline-size >= 120rem) {
        padding-block-end: var(--offset-section-y-max1920);
    }
}